---
import {getCollection} from "astro:content"
import Main from "../../components/Main.astro"
import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro";

const categoryUrl = Astro.params.slug as string;

const allCategoriesPost = await getCollection('posts');
const postsByCategory = allCategoriesPost
  .filter((category) => category.data.categories.includes(categoryUrl));

---
<Layout title="Catégories posts" description="Lecture par catégories d'articles">
	<Main>
      <a href="/blog" class="text-md mb-16 underline block pl-4"
      >← Retour à blog</a>
      <h1 class="text-title text-xl md:text-3xl text-center pb-6">Articles {categoryUrl}</h1>
      {
        postsByCategory.length === 0 ? (
            <p>No posts were found with that tag</p>
            ) : (
            <PostList posts={postsByCategory} home={false} />
            )
    }
	</Main>
</Layout>