---
import ButtonLink from "../components/ButtonLink.astro";
import LogoAstroReact from "../components/LogoAstroReact.astro";
import Layout from "../layouts/Layout.astro";
import { ABOUT_DESCRIPTION, ABOUT_TITLE } from "../lib/constantes";


export const prerender = true
---
<Layout title={ABOUT_TITLE} description={ABOUT_DESCRIPTION}>
	<div class="flex-1 px-4">
		<h1 class="text-title text-xl md:text-3xl text-center pb-10 md:pb-6">Blog d'un développeur web React et Astro</h1>
		<p class="text-center text-lg pb-3">Je publie dès que quelque chose mérite d'être partagé, ou quand j'ai envie de parler de quelque chose.</p>
		<p class="text-center text-lg pb-10">Ce blog va surtout parler du Framework Astro, de productivité, développement web et du marché de l'emploi.</p>
		<div class="flex justify-center mt-4">
			<LogoAstroReact taille={120} />
		</div>
	</div>
</Layout>