---
import ButtonLink from "../components/ButtonLink.astro";
import LogoAstroReact from "../components/LogoAstroReact.astro";
import Layout from "../layouts/Layout.astro";
import { ABOUT_DESCRIPTION, ABOUT_TITLE } from "../lib/constantes";


export const prerender = true
---
<Layout title={ABOUT_TITLE} description={ABOUT_DESCRIPTION}>
	<div class="flex-1 px-4">
		<h1 class="text-title text-xl md:text-3xl text-center pb-10 md:pb-6">Blog et carnet de notes d'un développeur web</h1>
		<p class="text-center text-lg pb-3">Je note ici ce que j'apprends au quotidien comme développeur web, mes solutions aux problèmes techniques, mes découvertes et mes réflexions. 
		</p>
		<p class="text-center text-lg pb-3">Je publie dès que quelque chose mérite d'être partagé ou quand j'explore de nouvelles choses.</p>
		<p class="text-center text-lg pb-10">Ce blog va surtout parler de mon apprentissage du Framework Astro</p>
		<div class="flex justify-center mt-4">
			<LogoAstroReact taille={120} />
		</div>
	</div>
</Layout>