---
import { getCollection } from "astro:content";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
import LogoAstroReact from "../components/LogoAstroReact.astro";

const posts = await getCollection("posts")
---
<Layout title='Blog | posts'>
  <Main>
        <PostList posts={posts} home={false} />
        <div class="flex justify-center mt-10">
			    <LogoAstroReact taille={80} />
		    </div>
	</Main>
</Layout>