---
import { getCollection } from "astro:content";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import PostList from "../components/PostList.astro";

const posts = await getCollection("posts")
---
<Layout title='Blog | posts'>
  <Main>
        <PostList posts={posts} home={false} />
	</Main>
</Layout>