---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

export const prerender = true
---

<Layout title='My Blog'>
	<Main>
		<h1 class="text-[#1F2937] text-xl md:text-3xl text-center">Bienvenue sur mon blog ou plutôt carnet de notes</h1>
		<h2 class="py-8 text-lg md:text-xl">Derniers posts</h2>
	</Main>

</Layout>
