---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title='My Blog'>
	<Main>
		<h1 class="text-[#1F2937] text-xl md:text-3xl text-center">Bienvenue sur mon blog, codé avec le framework Astro</h1>
	</Main>

</Layout>
