---
import type {CollectionEntry} from "astro:content"
import Post from "./Post.astro"
import PostHome from "./PostHome.astro"

type Props = {
    posts: CollectionEntry<"posts">[]
    home: boolean
}

const {posts, home} = Astro.props
---

<div
    class="flex flex-wrap justify-start gap-x-4"
>
    {
        home ? posts.map(post => <PostHome post={post} />).reverse().slice(0, 3) : posts.map(post => <Post post={post} />).reverse()
    }
</div>