---
import type {CollectionEntry} from "astro:content"
import PostsPageBlog from "./PostsPageBlog.astro"
import PostsPageHome from "./PostsPageHome.astro"
import type postcss from "postcss"
import { HOME_ARTICLES_LIMIT } from "../lib/constantes"

type Props = {
    posts: CollectionEntry<"posts">[]
    home: boolean
}

const {posts, home} = Astro.props

const postsSort = posts.sort((a:CollectionEntry<"posts">, b:CollectionEntry<"posts">) => b.data.rang.valueOf() - a.data.rang.valueOf())

---

<div
    class="flex flex-wrap justify-center gap-4"
>
    {
        home ? postsSort.map(post => <PostsPageHome post={post} />).slice(0, HOME_ARTICLES_LIMIT) : posts.map(post => <PostsPageBlog post={post} />)
    }
</div>