<form id="search-bar" class="flex items-center justify-center gap-2 w-full">
    <div class="relative w-full max-w-xl">
        <input type="text" id="query" name="query" placeholder="Recherche article" required class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-link focus:border-link block w-full p-3" />
    </div>
    <button type="submit" class="p-3 text-white bg-title border text-sm rounded-lg focus:ring-link focus:border-link">Recherche</button>
</form>