---
import type {CollectionEntry} from "astro:content"
import Source from "./Source.astro"
type Props = {
    source: CollectionEntry<"posts">["data"]["source"]
}

const {source} = Astro.props
---


    <div class="">
        {<Source source={source} />}
    </div>
